@import "src/index";

.searchForm {
  display: flex;
  //justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid $color-primary-main;
  margin-bottom: 50px;
  //max-width: 1200px;
  max-width: max-content;

  input,
  select {
    @include fira-sans;

    font-weight: $fw-regular;
    font-size: $fs-s;
    padding: $base*2 $base*4;
    width: max-content;
    display: flex;
    margin-right: 30px;
  }

}

